
<div class="panel-body" >
    <table class="table table-striped" >
      <thead>
        <tr>
          <th colspan = "2"><h1><i>Blogs</i></h1></th>
        </tr>
      </thead>
      <tbody> 
	  <tr style = "background-color:white"><td colspan = "2"></td></tr>
        <tr style = "background-color:white"><td colspan = "2"><a href = "https://www.delishknowledge.com/" target="_blank" ><b>Delish Knowledge</b></a></td></tr>
		<tr>
        <td><img alt="xxx" class="xxx" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOILyUKz9dQprIcRqyEOKmAVh_TGrY5eA3lg&usqp=CAU" width="220" height="200" ></td>
        <td><div>
			Think of this as healthy vegetarian cooking, made simple. Writer Alex is a registered dietitian, <br>
			and her ingredient shopping tips and cooking videos — check out the one for<br> 
			vegan paella! — are the next best thing to an office visit. Vegetarians or anybody<br>
			curious about the lifestyle can consider this blog their starter kit for plant-based<br>
			recipes that range in ingredients and complexity...
		</div>	</td>
        </tr>
		<tr style = "background-color:white"><td colspan = "2"></td></tr>
		<tr style = "background-color:white"><td colspan = "2"><a href = "https://therealfoodrds.com/" target="_blank"><b>The Real Food Dietitians</b></a></td></tr>
		<tr>
        <td><img alt="xxx" class="xxx" src="https://dcassetcdn.com/design_img/3645478/33545/33545_20535062_3645478_b338d4dc_image.jpg" width="220" height="200"></td>
        <td><div>
			This blog is for people who love their Instant Pot, slow cooker, and Whole30 plan.<br>
			It features recipes for each, plus tips for meal prep efficiency. Not only are there<br>
			tons of dietitian-authored recipes, but you can also opt in for customized meal plans.
		</div>	</td>
        </tr>
		<tr style = "background-color:white"><td colspan = "2"></td></tr>
		<tr style = "background-color:white"><td colspan = "2"><a href = "https://fitfoodiefinds.com/" target="_blank"><b>Fit Foodie Finds</b></a></td></tr>
		<tr>
        <td><img alt="xxx" class="xxx" src="https://www.pngitem.com/pimgs/m/15-152211_fit-foodie-finds-graphic-design-hd-png-download.png" width="220" height="200"></td>
        <td><div>
			Fit Foodie Finds is a wellness blog tailor-made for serial Instagram scrollers. The gorgeous photos <br> 
			of healthy meals are just as exciting as making them. Who knew oats could look so pretty? Healthy <br>
			living posts primarily focus on recipes, but they also include workouts (booty, legs, you name it), <br>
			do-it-yourself (DIY) beauty, mental health, and relationships. Style-conscious readers will love it, <br>
			too, with its gallery after gallery of fashion articles.
		</div>	</td>
        </tr>
		<tr style = "background-color:white"><td colspan = "2"></td></tr>
		<tr style = "background-color:white">
		<td colspan = "2"><a href = "https://tobyamidornutrition.com/my-blog/" target="_blank"><b>Toby Amidor Nutrition</b></a></td></tr>
		<tr>
        <td><img alt="xxx" class="xxx" src="https://image4.owler.com/logo/toby-amidor-nutrition_owler_20160229_220922_large.png" width="220" height="200"></td>
        <td><div>
			Blogger Toby is a registered dietitian and author who helps home cooks up their game <br>
			with the latest in nutrition and food news, including ingredient recalls and safety tips. <br>
			Toby helps you see your kitchen in an exciting new way and reignite your love of cuisine <br>
			and cooking. There’s a heavy focus on creative meal prep, along with more serious articles <br>
			on things like foods to fight depression.
		</div>	</td>
        </tr>
		<tr style = "background-color:white"><td colspan = "2"></td></tr>
		<tr style = "background-color:white">
		<td colspan = "2"><a href = "https://www.thehealthymaven.com/" target="_blank"><b>The Healthy Maven</b></a><br></td></tr>
		<tr>
		<td><img alt="xxx" class="xxx" src="https://www.thehealthymaven.com/wp-content/uploads/2019/02/THM-logo.png" width="220" height="200"></td>
        <td><div>
			For those who want a 360-degree approach to self-care, with advice for betterment in the workplace,<br>
			home, gym, and on the go, look no further. The Healthy Maven offers recipes for every type of meal <br>
			under the sun (salads, sides, soups, and more), DIY tips (you’ll learn how to make your own yoga mat spray), <br>
			and quick workouts. If you like where all this is going, there’s a supplementary podcast run by blogger Davida <br>
			with guest wellness experts.
		</div>	</td>
        </tr>
      </tbody>
    </table>
  </div>
  
